/*
=====================================
    Helper classes FOR DEV ONLY
=====================================
*/
.red {
  border: 1px solid red;
}
.green {
  border: 1px solid green;
}
.blue {
  border: 1px solid blue;
}
.yellow {
  border: 1px solid yellowgreen;
}
/*            /helpers             */

/*
=====================================
        Main Site Features
=====================================
*/
body {
  background-color: #dad6cd;
}
.logo {
  width: 800px;
  height: 210px;
  display: block;
  margin-left: auto;
  margin-right:auto;
}
/*      /main site features        */

/*
=====================================
        Minor Site Features
=====================================
*/
.orange-fill {
  background-color: #e68a00;
}
/*      /minor site features       */

/*
=====================================
        Bootstrap Overrides
=====================================
*/
.container {
  background-color: white;
}
/*      /bootstrap overrides       */