/*
=====================================
    Helper classes FOR DEV ONLY
=====================================
*/
.red {
  border: 1px solid red;
}
.green {
  border: 1px solid green;
}
.blue {
  border: 1px solid blue;
}
.yellow {
  border: 1px solid yellowgreen;
}
/*            /helpers             */

/*
=====================================
        Main Site Features
=====================================
*/
body {
  background-color: #dad6cd;
}
.logo {
  width: 800px;
  height: 210px;
  display: block;
  margin-left: auto;
  margin-right:auto;
}
/*      /main site features        */

/*
=====================================
        Minor Site Features
=====================================
*/
.orange-fill {
  background-color: #e68a00;
}
.green-fill {
  background-color: #00b33c;
}
.blue-fill {
  background-color: #0099e6;
}
.sub-heading {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 120px;
  margin-bottom: 5px;
}
.sub-heading-box-content {
  padding-top: 6px;
  padding-left: 6px;
}
.sub-heading-box-content h3 {
  color: white;
}

/*      /minor site features       */

/*
=====================================
        Bootstrap Overrides
=====================================
*/
.container {
  background-color: white;
}
/*      /bootstrap overrides       */